body{
    box-sizing: border-box;
    margin: 0%;
    width: 100%;
    transition: all ease-in-out 0.6s;
}
section,.container,.row{
    margin: 0;
    margin-right:0;
    padding: 0;
    max-width: 100%;
}

/* For all the animations in the page*/
@keyframes up-down {
    0% {
      transform: translateY(15px);
    }
    100% {
      transform: translateY(-15px);
    }
  }

  @keyframes up-down2{
      0%{
          transform: translateY(-10px);
      }
      100%{
          transform: translateY(10px);
      }
  }


#top .img-top{
    height: 50px;
    width: 100%;
    background: rgb(33, 33, 33);
}
#top .img-top img{
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
}



#hero .container{
    height: 100%;
    width: 100%;
    background: #003ecc;
}
#hero .container .content{
    padding-top: 6rem;
}
#hero .container .row .img-1{
    height: 77.5px;
    width: 67px;
    display: flex;
    margin-left: 35%;
    margin-top: 20px;
}
#hero .container .content .second-div{
    display: block;
    left: -15%;
}
#hero .container .content .row h1{
    color: #fff;
    font-size: 64px;
    font-weight: 700;
}
#hero .container .content .row p{
    color: rgba(150, 185, 255, 1);
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -o.6px;
}
#hero .container .btn-container{
    padding-top: 15px;
}
#hero .container .btn-container .btn{
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-transform: none;
    background: rgb(242,153,74);
    border: solid 2px rgb(242,153,74);
    padding: 15px;
    width: 180px;
    height: 60px;
}
/* For the hover effect of the button*/
#hero .container .btn-container .btn:hover{
    color: rgb(242,153,74);
    background: transparent;
    transform: scale(1.08);
    transition:  rgb(242,153,74) all ease-in-out 0.4s;
}
#hero .container .content .img-container{
    padding-top: 4rem;
    transition: all ease-in-out 0.6s;
}
#hero .content .img-container img{
    width: 220px!important;
}
#hero .content .txt-container{
    padding-top: 1rem;
}
#hero .content .txt-container span{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.2;
    color: rgba(150, 185, 255, 1);
}

#hero .container .content .hero-img-1{
    width: 100%;
}
#hero .container .content .hero-img-2{
    width: 20%;
    display: inline;
    position: absolute;
    left: 14rem;
    top: 21rem;
    z-index: 889;
    animation: up-down 3s ease-in-out infinite alternate-reverse both;
}
#hero .container .content .hero-img-3{
    width: 30%;
    display: inline;
    position: absolute;
    left: 10rem;
    top: 15rem;
    z-index:888;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
#hero .container .content .hero-img-4{
    width: 40%;
    display: inline;
    position: absolute;
    left: -3rem;
    top: 17rem;
    animation: up-down2 2s ease-in-out infinite alternate-reverse both;
}



/* Features Section styling starts here*/
#hero .content .feature{
    height: 120vh;
    width: 100%;
    background: #003ecc;
    margin-top: 15rem;
}
.feature .txt-container{
    padding-top: 20px;
    display: flex;
    justify-content: left;
    margin-left: 20%;
}
.feature .txt-container p{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(150, 185, 255, 1);
}
.feature h1{
    color: rgba(229, 238, 255, 1);
    font-size: 64px;
    font-weight: 700;
    display: flex;
    justify-content: left;
    margin-left: 20%;
    margin-right: 20%;
}
.feature .card-container{
    padding-top: 5rem;
    width: 100%;
}
.feature .card{
    width: 294px;
    height: 230px;
    background: rgba(229, 238, 255, 0.05);
    border: transparent solid 5px;
    border-radius: 20px;
    box-shadow: 8px 4px 8px 0 rgb(74 100 164 / 40%);
    display: flex;
    justify-content: left;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    pointer-events: auto;
}
.feature .card i{
    color: #fff;
    font-size: 50px;
    pointer-events: none;
}
.feature .card h4{
    padding-top: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.feature .card span{
    color: rgba(150, 185, 255, 1);
    font-size: 16px;
    font-weight: 400;
}
.feature .card.card-feature-1{
    margin-left: 20%;
}
.feature .card.card.card-feature-2{
    margin-left: 10%;
}

/* For Hover Effect in the card */
.feature .card:hover{
    border: rgb(242,153,74) solid 5px;
    border-radius: 20px;
    transform: scale(1.08);
    transition: ease-in-out 0.6s;
}


/*How to use section styling starts here*/

#hero .howtouse{
    width: 100%;
    background: #003ecc;
    height: 230vh;
    margin-top: 2rem;
}
.howtouse .txt-container{
    padding-top: 20px;
    display: flex;
    justify-content: left;
    margin-left: 20%;
}
.howtouse .txt-container p{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(150, 185, 255, 1);   
}
.howtouse h1{
    color: rgba(229, 238, 255, 1);
    font-size: 64px;
    font-weight: 700;
    display: flex;
    justify-content: left;
    margin-left: 20%;
    margin-right: 20%;
    transition: all ease-in-out 0.3s;
}
.howtouse .howtotxt{
    color: rgba(150, 185, 255, 1);
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -o.6px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 15px;
}
.howtouse .img-container{
    width: 100%;
    padding-top: 1rem;
    background: #003ecc;
    display: inline;
}
.howtouse .img-container .row{
    transition: all ease-in-out 0.6s;
}
#hero .content .howtouse .img-container img{
    width: calc(100% - 2rem)!important;
    padding-top: 5rem;
    display: inline-block;
    position: absolute;
}
.howtouse .img-container .txt p{
    font-size: 16px!important;
}
.howtouse .img-container .first-col .txt{
    position: absolute;
    top: 55rem;
    left: 2rem;
}
.howtouse .img-container .second-col .txt{
    position: absolute;
    top: 20rem;
    left: 2rem;
}
.howtouse .img-container .third-col .txt{
    position: absolute;
    top: 28rem;
    left: 2rem;
}

/* Whats Included Sections*/
#hero .content .whatincluded{
    height: 255vh;
    width: 100%;
    background: #003ecc;
    margin-top: 2rem
}
#hero .whatincluded .txt-container{
    margin-left: 20%;
    display: flex;
    padding-top: 20px;
}
#hero .whatincluded .txt-container p{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(150, 185, 255, 1);
}
#hero .whatincluded h1{
    color: rgba(229, 238, 255, 1);
    font-size: 64px;
    font-weight: 700;
    display: flex;
    justify-content: left;
    margin-left: 20%;
    transition: all ease-in-out 0.6s;
}
#hero .whatincluded .text{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.6px;
    color: rgba(150, 185, 255, 1);   
    margin-left: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
}
#hero .whatincluded .img-container{
    margin-left: 10%;
    margin-right: 10%;
}
#hero .whatincluded .img-container img{
    width: 288px!important;
}
#hero .whatincluded .img-container .row.second-row{
    margin-top: 5rem;
}
#hero .whatincluded .img-container .row.third-row{
    margin-top: 5rem;
}
#hero .whatincluded .img-container .row{
    transition: all ease-in-out 0.6s;
}


/* The Pricing section styling starts from here*/
#hero .pricing{
    height: 130vh;
    width: 100%;
    background: #003ecc;
    margin-top: 5rem;
}
#hero .pricing .txt-container{
    margin-left: 20%;
    display: flex;
    padding-top: 20px;
}
#hero .pricing .txt-container p{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(150, 185, 255, 1);
}
#hero .pricing h1{
    color: rgba(229, 238, 255, 1);
    font-size: 64px;
    font-weight: 700;
    display: flex;
    justify-content: left;
    margin-left: 20%;
    margin-right: 20%;
    transition: all ease-in-out 0.6s;
}
#hero .pricing .text{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.6px;
    color: rgba(150, 185, 255, 1);   
    margin-left: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
}
#hero .pricing .pricing-container{
    margin-left: 22%;
    margin-right: 20%;
}
#hero .pricing .pricing-container img{
    width: 20px;
    position: absolute;
    left: -18px;
    top: 9px;
}
#hero .pricing .pricing-container span{
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.4px;
    text-decoration: none;
    text-transform: none;
    color: rgba(229, 238, 255, 1);
}
#hero .pricing .pricing-container .row{
    padding-top: 20px;
}
#hero .pricing .btn-container{
    margin-top: 4rem;
    margin-left: 20%;
}
#hero .pricing .btn-container .btn{
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-transform: none;
    background: rgb(242,153,74);
    border: solid 2px rgb(242,153,74);
    padding: 15px;
    width: 180px;
    height: 60px;
}
#hero .pricing .img-container-2{
    margin-top: 3rem;
}
#hero .pricing .img-container-2 img{
    width: 220px;
    display: absolute;
    margin-left: 20%;
    transition: all ease-in-out 0.6s;
}

/* The Footer styling starts here*/
#footer{
    width: 100%;
    height: 310vh;
    background: #131313;
}
#footer .display{
    padding-top: 7rem;
}
#footer .display .row{
    margin-left: 10%;
    margin-right: 10%;
}
#footer img{
    width: 300px;
    border-radius: 8px;
}
#footer .row .txt-cont{
    padding-top: 15px;
}
#footer .row .txt-cont h4{
    font-size: 24px;
    font-weight: 700;
    color: rgb(224, 224, 224);
}
#footer .row .txt-cont p{
    font-size: 18px;
    font-weight: 400;
    color: #989898;
}

#footer .newsletter{
    padding-top: 8rem;
    height: 100%;
    background: #131313;
}
#footer .newsletter .head{
    display: flex;
    justify-content: center;
    margin: auto;
    color: #989898;
    padding-bottom: 4rem;
}
#footer .newsletter h1{
    font-size: 48px;
    font-weight: 400;
}
#footer .btn-container{
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
#footer .email{
    width: 300px;
    height: 60px;
    padding-left: 20px;
    background: transparent;
    font-size: 18px;
    font-weight: 500;
    border: solid 1px #989898;
    border-radius: 5px;
    color: #989898;
}
#footer .email:hover{
    transform: scale(1.05);
    border: #f2994a solid;
    color: #f2994a;
    border-radius: 5px;
}
#footer .btn{
    background: #fff;
    color: #131313;
    font-size: 18px;
    font-weight: 500;
    width: 300px;
    height: 60px;
    padding: 15px;
}
#footer .btn:hover{
    background: transparent;
    color: #fff;
    border: #fff solid;
}
#footer .btn-container .txt{
    margin-top: 4rem;
    margin-left: 11%;
    font-size: 18px;
    color: #989898;
}
#footer .profile{
    margin-top: 8rem;
    width: 100%;
}
#footer .profile h1{
    color: #fff;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: -0.6px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 8rem;
}
#footer .profile .profile-img{
    display: flex;
    margin-top: -20px;
    justify-content: center;
}
#footer .profile h4{
    display: flex;
    justify-content:center;
    margin-top: 4rem;
    font-size: 24px;
    font-weight: 400;
    color: #989898;
}
#footer .social{
    padding-top: 60px;
    color: #fff;
}
#footer .social a{
    text-decoration: none;   
    color: #fff;
}
#footer .social .icon{
    margin-left: 40%;
    font-size: 40px;
}


/*  The Responsive media queries start from here*/

/* Responsive Design for all below 1000px devices*/
@media(max-width:1040px){
    body{
        width: 100% !important;
    }
    #top .img-top{
        max-width: 100% !important;
        width: 100%;
    }
    #hero .container{
        max-width: 100% !important;
        width: 100%;
    }
    #hero .feature{
        max-width: 100% !important;
        width: 100%;
    }
    #hero .howtouse{
        max-width: 100% !important;
        width: 100%;
    }
    #hero .whatincluded{
        max-width: 100% !important;
        width: 100%;
    }
    #hero .pricing{
        max-width: 100% !important;
        width: 100%;
    }
    #footer{
        max-width: 100% !important;
        width: 100%;
    }
    .howtouse .img-container .first-col .txt{
        position: relative;
        top: 0 !important;
        margin-top: 230%;
    }
    .howtouse .img-container .second-col .txt{
        position: relative;
        top: 0;
        margin-top: 90%;
    }
    .howtouse .img-container .third-col .txt{
        position: relative;
        top: 0;
        margin-top: 120%;
    }
    #hero .whatincluded .img-container{
        margin-left: 2%;
        margin-right: 2%;
    }

    /* Media Query for Footer Section*/
    #footer .display .row{
        margin-left: 5% !important;
        margin-right: 5% !important;
    }

    #footer .display .row img{
        width: 100%;
    }


}

/* Responsive Design For all the devices below 999px*/
@media(max-width:999px){
    #hero .container .row .img-1{
        margin-left: 15%;
    }
    #hero .container .row .home-txt{
        margin-left: -10% !important;
    }
    #hero h1{
        margin-left: 10% !important;
    }
    #hero p{
        margin-left: -12% !important;
    }
    #hero .howtotxt{
        margin-left: 10% !important;
    }
    #hero .text{
        margin-left: 10% !important;
    }
    .feature .card{
        width: 100%!important;
        height: 100% !important;
        padding: 30px;
    }
    .feature .card.card-feature-1{
        margin-left: auto;
    }
    .feature .card.card.card-feature-2{
        margin-left: auto;
    }

    /* Media Query for how to use for how to use section*/
    .howtouse .img-container .first-col .txt{
        position: relative !important;
        top: 0 !important;
        margin-top: 250%;
    }
    .howtouse .img-container .second-col .txt{
        position: relative !important;
        top: 0 !important;
        margin-top: 96%;
    }
    .howtouse .img-container .third-col .txt{
        position: relative !important;
        top: 0;
        margin-top: 140%;
    }

    /* Media Query for What included section*/
    #hero .whatincluded{
        max-width: 100%;
        width: 100%;
        height: calc(250vh - 10%) !important;
    }
    #hero .whatincluded .img-container img{
        width: 100% !important;
    }


    /* Media Query for pricing container*/
    #hero .pricing .pricing-container{
        margin-left: 12%;
        margin-right: 5%;
    }

    /* Media Query for footer section*/
    #footer .display .row{
        margin-left: 2% !important;
        margin-right: 2% !important;
    }

    #footer .display .row img{
        width: calc(100% - 20px);
    }
}

/* Responsive design for devices below 884px*/
@media(max-width:884px){
    #top .img-top{
        width: 100%;
        height: 80%;
    }
    #hero .container .content .hero-img-2{
        left: calc(14rem - 13%);
    }
}

/* Responsive design for devices below 768px*/
@media(max-width:768px){
    #hero .container .row .home-txt{
        margin-left: 25% !important;
    }

    #hero h1{
        font-size: calc(64px - 25%) !important;
    }
    #hero .content .row .home.img-container{
        margin-left: 25% !important;
    }
    #hero .content .row .home.btn-container{
        margin-left: 25% !important;
    }
    #hero .content .row .img-1{
        position: absolute;
        left: -14%;
    }
    #hero .content .row .col-md-4.img-div{
        margin-top: -70%;
        width: 40%;
        margin-left: 60%;
    }

    #hero .container .content .hero-img-2{
        left: calc(14rem - 10%);
    }

    /* Responsive Design for the Features Section*/
    #hero .feature{
        margin-top: 10rem !important;
        width: 100%;
    }

    /* Responsive Design for the How To Use Section*/
    #hero .howtouse{
        margin-top: 8rem !important;
        height: calc(230vh - 10rem);
    }

    /* Responsive Design for the Pricing Section*/
    #hero .pricing{
        margin-top: 8rem;
    }
    #hero .pricing .btn-container{
        margin-left: 10%;
    }
    #hero .pricing .img-container-2{
        margin-left: -12%;
    }

    /* Responsive Design for the Footer Container*/
    #footer .btn-container{
        margin-left: 1% !important;
        margin-right: 0;
    }
    #footer .btn-container .txt{
        text-align: center;
        margin-left: -5%;
    }
}

/* Responsive Design for the Devices below width 665px */
@media(max-width: 685px){

    /*Responsivenes of the pricing section*/
    #hero .pricing{
        height:  150vh !important;
    }
}


/* Responsive Design for the Devices below 658px width*/
@media(max-width:660px){
    #hero .content .row .col-md-4.img-div{
        margin-left: 55%;
        margin-top: -90%;
    }

    #hero h1{
        font-size: 48px !important;
    }

    /* Responsive Design for the How to Use*/
    #hero .howtouse {
        margin-top: 8rem !important;
        height: calc(230vh - 15rem) !important;
    }

    /* Responsive Design for the Footer Section*/
    #footer .btn-container{
        margin-left: 0 !important;
    }
    #footer .btn-container .email{
        width: calc(300px - 13%) !important;
    }
    #footer .btn-container .btn{
        width: calc(300px - 13%);
    }
}

/* Responsive Design for the Devices below 575px width*/
@media(max-width:576px){

    #hero .content .row .img-1{
        width: calc(67px - 1.5%) !important;    
    }

    #hero .container .content .hero-img-4{
        left: 0;
    }

    #hero .container .content .hero-img-2 {
        left: 85%;
    }

    /* Responsive Design for the Features Section*/
    #hero .feature{
        height: 180vh !important;
    }

    #hero .feature .card{
        width: 70% !important;
        display: flex;
        justify-content: center;
        margin-left: 15%;
        text-align: center;
    }
    #hero .feature .col-sm-4{
        margin-top: 25px;
    }

    /* Responsive Design for The How to use Section*/
    #hero .howtouse{
        width: 100%;
        height: 390vh !important;
        margin-top: 13rem !important;
    }

    #hero .content .howtouse .img-container img{
        width: 60% !important;
        margin-left: 20%;
    }
    #hero .content .howtouse .txt p{
        margin-left: 30% !important;
        font-size: 20px !important;
    }
    #hero .howtouse .first-col .txt p{
        margin-top: -33rem;
    }
    #hero .howtouse .second-col .txt p{
        margin-top: -14rem;
    }
    #hero .howtouse .third-col .txt p{
        margin-top: -20rem; 
    }

    /* Responsive Design for the Whats Included Section*/
    #hero .whatincluded .img-container img{
        width: 65% !important;
        display: flex;
        margin-top: 25px;
        margin-left: 17%;
    }

    /* Responsive Design of the Pricing Section*/
    #hero .pricing{
        height:  170vh !important;
    }

    /* Responsive Design  fot the Footer Section*/
    #footer{
        height: 500vh !important;
    }
    #footer .display .row img {
        width: 60% ;
        margin-top: 30px;
    }
    #footer .display .row.content{
        margin-left: 25% !important;
    }
    #footer .display .btn-container{
        margin-left: 22% !important;
    }
    #footer .display .btn-container .btn{
        margin-top: 20px;
    }

    #footer .btn-container .txt{
        margin-left: -25% !important;
    }

    #footer .profile h1{
        font-size: 38px !important;
    }
    #footer .profile .row.social{
        margin-left: calc(10% - 2px) !important;
    }
    #footer .profile .row.social .col-sm-4 {
        display: flex;
        width: 150px;
    }
}